/* common share styles */
body {
  font-family: "Open Sans", sans-serif;
}
.orange {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  color: white;
  font-style: normal;
  font-weight: 700;
  padding: 15px 35px;
}
.abt-title{
  color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: var(--Dark-02, #474747);
}
/* header part started */
.header{
  background: #FFF8F3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  

}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ban-content{
  max-width: 500px;
}
.banner .ban-pic{
  width: 500px;

}
.ban-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.ban-title{
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.ban-p{
  margin-bottom: 49px;
}
 /* about part started */
main{
  max-width: 1140px;
  margin: 0 auto;
}


.about{
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0;
}
.abt-dis{
  text-align: center;
  color: #757575;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  word-wrap: break-word;
}
.abt-info{
  display: flex;
  justify-content: space-around;

}
.info-head{
  text-align: center;
}
.info-head .info-title{
  color:#757575;
 font-size: 20px;
 font-style: normal;
.skill-container400;

}
.info-head .info-des{
  color: #474747;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
/* about part end here */
/* .what{
  margin-bottom: 560px;
} */
#what-dis{
  padding-bottom: 50px;
  padding: 0 150px;
}
/* what part start here */
.skill-container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 24px;
}
.skill{
  padding-top: 30px;
  padding-left: 30px;

}
.skill-dis{
  padding-right: 70px;
  color: #757575;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word
}
/* about part end here */

/* resume part from here */
.resume{
  padding-top: 160px;
}
.resume-container{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding: 0 14px;
}
.edu-part > h3{
  color: #474747;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.degree{
  margin-bottom: 30px;
}
.degree-name{
  color:  #474747;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.degree-year{
  color: #757575;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.degree-dis{
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.download-cv{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 130px;
}
/* resume part end here */